.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 6px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.048);
}

.row {
  color: rgb(20, 20, 14);
  border-radius: 8px;
}
